
<div  ng-app="mmmangularApp">
    <table datatable="" class="row-border hover">
      <thead>
       <tr>
       <th>ID</th>
       <th>First name</th>
       <th>Last name</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
      </tbody>
    </table>
<div ng-controller="MmmlandingCtrl">
    <div>Ramesh</div><div> {{projectId}}</div>
</div>
</div>
