<p>This is the MMMLanding view.</p>
<div ng-controller="MmmlandingCtrl">
  <div ng-bind="projectDatas">
  </div>
  <div ng-bind="projectDatadata">
  </div>
  <p>ramesh check </p>
  <div ng-bind="projectDatadatas">
  </div>
</div>
<table id="foobar" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>

<table datatable="" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Jayesh</td>
      <td>Patel</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Khyati</td>
      <td>Patel</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Alex</td>
      <td>Sebastian</td>
    </tr>
  </tbody>
</table>
<table class="row-border hover" dataTable="" dt-options="options">
</table>
